.ques-container {
	width: 500px;
	margin-top: 30px;

	.ques-container__type-heading {
		margin-left: 20px;
		padding: 0;
		color: #333;
		font-weight: 600;
	}
}

@media only screen and (max-width: 500px) {
	.ques-container {
		width: 100%;
	}
}
