.main-container {
	width: 100%;
	background-color: #f6f9fc;
	min-height: calc(100vh - 101px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}
