@font-face {
	font-family: Logo;
	src: url("../../logo.otf") format("opentype");
}

.navbar-container {
	width: 100%;
	height: 100px;
	background-color: white;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	z-index: 199;

	& .navbar {
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: auto;

		& .nav__logo {
			line-height: 100px;
			margin: 0;
			font-family: Logo;
			font-weight: 100;
			color: #333;
		}

		& .nav__login {
			padding: 10px 15px;
			background-color: #49a1db;
			color: white;
			border: none;
			font-size: 16px;
			letter-spacing: 0.3px;
			border-radius: 4px;
			outline: none;
			cursor: pointer;
		}

		& .nav__login:active {
			background-color: #358bc4;
		}
	}
}

@media only screen and (min-width: 500px) {
	.navbar {
		& .show-form__mobile {
			display: none;
		}
	}
}
