.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 26px;
	text-decoration: none;
	font-size: 20px;
	color: #afafaf;
	display: block;
	transition: 0.3s;
	cursor: pointer;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.openbtn {
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	top: 115px;
	z-index: 199;
}

.sidenav .closebtn {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav .closebtn:hover {
	color: #f1f1f1;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

@media only screen and (max-width: 500px) {
	.openbtn {
		top: 35px;
		left: 40px;
	}
}
